*{
    color: #f9bbe6;
    /* rgb(249,187,230) */
    color: #f29ec8;
    /* rgb(242,158,200) */
    color: #ee73c4;
    /* rgb(238,115,196) */
    color: #f453ad;
    /* rgb(244,83,173) */
    color: #f20b97;
    /* rgb(242,11,151) */
    color: #CDB4DB;
    /* rgb(205,180,219)  */
    color: #BDE0FE;
    /* rgb(189,224,254) */
    color: #A2D2FF;
    /* rgb(162,210,255) */
}