
    
    h3{color:greblack ;}
    ol{color: blue;}
.box{background-color: rgb(232, 222, 224); height: 200px;width: 300px; padding: 10px;border: radius 15px;border-style: groove;margin-left:  35%;margin-top: 25%;}